<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="pro.android" android:versionCode="1"
	android:versionName="1.0">
	<application android:icon="@drawable/icon" android:label="@string/app_name">
		<activity android:label="@string/app_name" android:name=".activity.ThoundsActivity" android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Light.NoTitleBar">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>

		</activity>
		<activity android:name=".activity.LoginActivity" android:windowSoftInputMode="stateAlwaysVisible"
			android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
		<activity android:name=".activity.HomeActivity" android:screenOrientation="portrait" android:theme="@android:style/Theme.NoTitleBar"></activity>
		<!--
			android:theme="@android:style/Theme.Light"
		-->
		<activity android:name=".activity.TracksActivity" android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
		<activity android:name=".activity.RecordActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activity.NotificationsActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activity.ProfileActivity" android:screenOrientation="portrait"
			android:theme="@android:style/Theme.Light.NoTitleBar"></activity>
		<activity android:name=".activity.SearchActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activity.NewThoundsNotificationActivity" android:screenOrientation="portrait"></activity>
		<activity android:name=".activity.SignUpActivity" android:screenOrientation="portrait"></activity>
		<service android:name=".activity.NotificationService"></service>
	</application>
	<uses-sdk android:minSdkVersion="4" />
	<uses-permission android:name="android.permission.RECORD_AUDIO" />
	<uses-permission android:name="android.permission.INTERNET" />
	<uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
	<uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.VIBRATE" />

</manifest> 
